<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <form class="header white-fg" fxLayout="column" fxLayoutAlign="center space-around"
      [formGroup]="filtersForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- APP TITLE -->
        <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
          <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Users</span>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <label for="search" class="mr-8">
            <mat-icon class="secondary-text">search</mat-icon>
          </label>
          <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
            <input id="search" matInput #filter (keyup)="applySearch()" placeholder="Search">
            <!-- <input id="search" matInput #filter placeholder="Search"> -->
          </mat-form-field>
        </div>
        <!-- / SEARCH -->

        <button mat-raised-button [routerLink]="'/users/new'" class="add-product-button mat-white-bg  mt-sm-0">
          <span> NEW </span>
        </button>

      </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
          <mat-form-field>
            <mat-select placeholder="Gender" formControlName="gender" name="gender">
              <mat-option [value]=""> No filter</mat-option>
              <mat-option value="male"> Male</mat-option>
              <mat-option value="female"> Female</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="active">Active</mat-option>
              <mat-option value="deactivated">De-Activated</mat-option>
              <mat-option value="pending">Pending</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input type="text" placeholder="ISO Code" aria-label="code" matInput formControlName="country" name="country" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let iso of filteredOptions | async" [value]="iso.iso">
                {{iso.iso}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-raised-button type="submit" (click)="applyFilter()" class="add-product-button mat-white-bg  mt-sm-0">
              <span> FILTER </span>
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
          <mat-form-field>
            <input (click)="picker.open()" matInput [matDatepicker]="picker" placeholder="Creation Date From" formControlName="createdFrom"
              name="createdFrom">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input (click)="picker.open()" matInput [matDatepicker]="picker2" placeholder="Creation Date To" formControlName="createdTo"
              name="createdTo">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button type="submit" (click)="clearFilter()" class="add-product-button mat-white-bg  mt-sm-0">
              <span> CLEAR </span>
            </button>
        </div>

    </form>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <!-- Image Column -->
        <ng-container cdkColumnDef="image">
          <mat-header-cell *cdkHeaderCellDef>Image</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <img class="product-image" *ngIf="product.image && product.image!=' '" [alt]="product.username" [src]="product.image" />
            <img *ngIf="!product.image || product.image == ' '" [src]=defaultAvatar>
          </mat-cell>
        </ng-container>


        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{product.username}}</p>
          </mat-cell>
        </ng-container>


        <ng-container cdkColumnDef="createdAt">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Creation Date</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{product.createdAt | date}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="typeLogIn">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Login Type</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{product.typeLogIn}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="totalBottlesThrown">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Totat Bottles Thrown</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{product.totalBottlesThrown}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="extraBottlesCount">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Extra Bottles Count</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{product.extraBottlesCount}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="bottlesCount">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Bottles Count</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{product.bottlesCount}}</p>
          </mat-cell>
        </ng-container>


        <ng-container cdkColumnDef="gender">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Gender</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <mat-icon *ngIf="product.gender=='male'" class="active-icon light-blue-800-fg s-25">sentiment_satisfied</mat-icon>
            <mat-icon *ngIf="product.gender=='female'" class="active-icon pink-300-fg s-25">face</mat-icon>
            <!--<p class="text-truncate">{{product.gender}}</p>-->
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="country">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Country</mat-header-cell>
          <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-md>
            <p class="text-truncate" *ngIf="product.country">{{product.country.code}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="status">
          <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
          <mat-cell *cdkCellDef="let product" fxShow.gt-xs>
            <mat-icon *ngIf="product.status=='active'" class="active-icon mat-green-600-bg s-16">check</mat-icon>
            <mat-icon *ngIf="product.status=='deactivated'" class="active-icon mat-red-500-bg s-16">close</mat-icon>
            <mat-icon *ngIf="product.status=='pending'" class="active-icon mat-gray-500-bg s-16">hourglass_empty</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="email">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{product.email}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="btns">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <div fxFlex="row" fxLayoutAlign="end center">
              <button mat-icon-button [routerLink]="'/users/edit/'+product.id" (click)="$event.stopPropagation();">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="$event.stopPropagation();deleteProduct(product)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let product; columns: displayedColumns;" class="product" matRipple [routerLink]="'/users/view/'+product.id">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
