<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">

  <mat-sidenav-container>

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

      <!-- HEADER -->
      <div class="header mat-accent-bg p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

        <div fxLayout="row" fxLayoutAlign="space-between start">

          <span class="mat-display-1 mb-0 welcome-message" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">Dashboard</span>


        </div>


      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div class="content">

        <mat-tab-group dynamicHeight>

          <mat-tab label="Charts">

            <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom [@animateStagger]="{value:'50'}">


              <mat-card [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100">

                <div class="mat-card-front mat-white-bg ">

                  <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">

                    <div class="h3 p-16">
                      Users
                    </div>
                    <form [formGroup]="filtersForm">
                      <mat-form-field>
                        <input matInput (click)="picker.open()" [matDatepicker]="picker" placeholder="Date From" formControlName="from">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field>
                        <input matInput (click)="picker2.open()" [matDatepicker]="picker2" placeholder="Date To" formControlName="to" [max]="today"
                          [min]="filtersForm.value.from">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>

                      <button mat-raised-button type="submit" (click)="applyFilter()" class="add-product-button mat-white-bg  mt-sm-0">
                        <span> FILTER </span>
                      </button>

                      <!-- <button mat-raised-button type="submit" (click)="removeFilter()" class="add-product-button mat-white-bg  mt-sm-0">
                        <span> ClEAR FILTER </span>
                      </button> -->

                    </form>
                  </div>
                  <!-- <mat-divider></mat-divider> -->


                  <div class="h-400">
                    <ngx-charts-line-chart *fuseIfOnDom [results]="BottlesChartData" [scheme]="lineChart.scheme" [gradient]="lineChart.gradient"
                      [showGridLines]="true" [xAxis]="lineChart.xAxis" [yAxis]="lineChart.yAxis" [legend]="lineChart.legend"
                      [showXAxisLabel]="lineChart.showXAxisLabel" [showYAxisLabel]="lineChart.showYAxisLabel" [xAxisLabel]="lineChart.xAxisLabel"
                      [yAxisLabel]="lineChart.yAxisLabel" [curve]="lineChart.curve">
                    </ngx-charts-line-chart>
                  </div>


                </div>
                <!-- / Front -->

              </mat-card>



              <!-- WIDGET 6 -->
              <mat-card [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">


                <div class="mat-card-front mat-white-bg ">
                  <div class="h3 p-16">
                    Purchases
                  </div>
                  <mat-divider></mat-divider>

                  <div class="h-400">
                    <ngx-charts-pie-chart *fuseIfOnDom [scheme]="pieChart.scheme" [results]="pieChartResults" [legend]="pieChart.showLegend"
                      [explodeSlices]="pieChart.explodeSlices" [labels]="pieChart.labels" [doughnut]="pieChart.doughnut" [gradient]="pieChart.gradient"
                      (select)="pieChart.onSelect($event)">
                    </ngx-charts-pie-chart>
                  </div>

                  <!-- <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
                    <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                      <span class="mat-display-1 mb-0">{{widgets.widget6.footerLeft.count[widget6.currentRange]}}</span>
                      <span class="h4">{{widgets.widget6.footerLeft.title}}</span>
                    </div>

                    <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                      <span class="mat-display-1 mb-0">{{widgets.widget6.footerRight.count[widget6.currentRange]}}</span>
                      <span class="h4">{{widgets.widget6.footerRight.title}}</span>
                    </div>
                  </div> -->

                </div>
                <!-- / Front -->

              </mat-card>
              <!-- / WIDGET 6 -->



              <mat-card [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">


                <div class="mat-card-front mat-white-bg ">
                  <div class="h3 p-16">
                    Gender
                  </div>

                  <mat-divider></mat-divider>

                  <div class="h-400">
                    <ngx-charts-pie-chart *fuseIfOnDom [scheme]="pieChart.scheme" [results]="UsersChartData" [legend]="pieChart.showLegend" [explodeSlices]="false"
                      [labels]="pieChart.labels" [doughnut]="pieChart.doughnut" [gradient]="pieChart.gradient" (select)="pieChart.onSelect($event)">
                    </ngx-charts-pie-chart>
                  </div>

                </div>


              </mat-card>


            </div>


          </mat-tab>

        </mat-tab-group>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->
  </mat-sidenav-container>

</div>
