:host {

  .content {


    .active-icon {
      border-radius: 50%;
    }

  }


  .item-img {
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100%;
      height: 250px;
    }
  }


  code {
    background: none !important;
  }
}

