<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <form class="header white-fg" fxLayout="column" fxLayoutAlign="center space-around"
      style="margin: 17px 0;">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- APP TITLE -->
        <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon mr-16" *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">opacity</mat-icon>
          <span class="logo-text h1" *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">Bottles</span>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <label for="search" class="mr-8">
            <mat-icon class="secondary-text">search</mat-icon>
          </label>
          <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
            <input id="search" matInput #filter (keyup)="getItemsPaging()" placeholder="Search" />
          </mat-form-field>
        </div>
        <!-- / SEARCH -->

        <!-- <button type="button" mat-raised-button [routerLink]="'/bottles/new'"
          class="add-product-button mat-white-bg  mt-sm-0">
          <span> NEW </span>
        </button> -->
        <button type="button" mat-raised-button type="submit" (click)="clearFilter()"
        class="add-product-button mat-white-bg  mt-sm-0">
        <span> CLEAR </span>
      </button>


      <button mat-raised-button type="submit" (click)="openFilter()"
        class="add-product-button mat-white-bg  mt-sm-0">
        <span> FILTER </span>
      </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="" fxLayoutGap="20px">
        <button mat-raised-button (click)="exportAsExcelFile()" class="add-product-button mat-white-bg  mt-sm-0">
          Export
        </button>
        <div style="display: inherit;">
            <mat-chip-list aria-label="Fish selection" *ngFor="let object of chipsFilter">
              <mat-chip style="margin: 0px 10px;">{{object.key}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
    </form>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{ value: '50' }"
        fusePerfectScrollbar>
        <ng-container cdkColumnDef="thumbnail">
          <mat-header-cell *cdkHeaderCellDef>Thumbnail</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <img class="product-image" [className]="isNewBottle(product.createdAt)"
              *ngIf="product.thumbnail && product.thumbnail != ' '" [alt]="product.createdAt"
              [src]="product.thumbnail" />
            <img *ngIf="!product.thumbnail || product.thumbnail == ' '" [src]="defaultIcon" />
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="createdAt">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Creation Date</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{ product.createdAt | date:'dd-MM-yyyy HH:mm' }}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="status">
          <mat-header-cell *cdkHeaderCellDef>Active</mat-header-cell>
          <mat-cell *cdkCellDef="let product" fxShow.gt-xs>
            <mat-icon *ngIf="product.status == 'active'" class="active-icon mat-green-600-bg s-16">check</mat-icon>
            <mat-icon *ngIf="product.status == 'deactive'" class="active-icon mat-red-500-bg s-16">close</mat-icon>
            <mat-icon *ngIf="product.status == 'pending'" class="active-icon mat-gray-500-bg s-16">hourglass_empty
            </mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="owner">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Owner</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{ product.owner.username }}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="gender">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Owner Gender</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <mat-icon *ngIf="product.owner.gender == 'male'" class="active-icon light-blue-800-fg s-25">
              sentiment_satisfied</mat-icon>
            <mat-icon *ngIf="product.owner.gender == 'female'" class="active-icon pink-300-fg s-25">face</mat-icon>
            <!-- <p class="text-truncate">{{product.gender}}</p> -->
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="country">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Owner ISO Code</mat-header-cell>
          <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-md>
            <p class="text-truncate" *ngIf="product.owner.country">
              {{ product.owner.country.code }}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="shore">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Shore</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">
              {{ product.shore.name_en }}/{{ product.shore.name_ar }}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="repliesUserCount">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Replies</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{ product.repliesUserCount}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="bottleCompleteCount">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Complete</mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <p class="text-truncate">{{ product.bottleCompleteCount}}</p>
          </mat-cell>
        </ng-container>



        <ng-container cdkColumnDef="btns">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let product">
            <div fxFlex="row" fxLayoutAlign="end center">
              <button mat-icon-button class="smallIconButton" *ngIf="product.status!='deactive'"
                (click)="$event.stopPropagation(); deleteItem(product)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button class="smallIconButton" (click)="$event.stopPropagation();openNewTab(product)">
                <mat-icon>reply</mat-icon>
              </button>

              <button mat-icon-button class="smallIconButton" [routerLink]="'/bottles/edit/' + product.id"
                (click)="$event.stopPropagation()">
                <mat-icon>edit</mat-icon>
              </button>

            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let product; columns: displayedColumns" class="product" matRipple
          [routerLink]="'/bottles/view/' + product.id">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="itemsCount" [pageIndex]="0" [pageSize]="100"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="getItemsPaging()">
      </mat-paginator>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
