<div id="order" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-16" mat-icon-button [routerLink]="'/bottles/list'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom
          [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            Bottle
          </div>
          <!-- <div class="subtitle secondary-text">
             <span>from</span>
             <span>{{order.customer.firstName}} {{order.customer.lastName}}</span>
           </div>-->
        </div>
      </div>
      <div>

        <button mat-raised-button (click)="activeViewStatus()"
          class="add-product-button mat-white-bg  mt-sm-0">
          <span> Activate </span>
        </button>

        <button mat-raised-button [routerLink]="'/bottles/edit/'+ item.id"
          class="add-product-button mat-white-bg  mt-sm-0">
          <span> EDIT </span>
        </button>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <mat-tab-group>

          <mat-tab label="Bottle Details">
            <ng-template matTabLabel>
              <span>Bottle Details</span>
            </ng-template>
            <div class="order-details tab-content p-24" fusePerfectScrollbar>

              <div class="section pb-48">

                <!--  <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="m-0 mr-16">opacity</mat-icon>
                  <div class="h2 secondary-text">Personal Information</div>
                </div>-->

                <div class="customer">
                  <table class="simple">
                    <thead>
                      <tr>
                        <th>Active</th>
                        <th>Owner</th>
                        <th>Shore</th>
                        <th>Weight</th>
                        <th>Creation Date</th>
                        <th>Replies to this bottle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!--<td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <img *ngIf="item.image && item.image != ''" class="avatar" [src]="item.image">
                          <span class="name text-truncate">{{item.username}}</span>
                        </div>
                      </td>-->
                        <td>
                          <div *ngIf="item.status=='active'">
                            <mat-icon class="avatar active-icon mat-green-600-bg s-16">check</mat-icon>Active
                          </div>
                          <div *ngIf="item.status=='deactive'">
                            <mat-icon class="avatar active-icon mat-red-500-bg s-16">close</mat-icon>De-active
                          </div>
                          <div *ngIf="item.status=='pending'">
                            <mat-icon class=" active-icon mat-gray-500-bg s-16">hourglass_empty</mat-icon>Pending
                          </div>
                        </td>
                        <td [routerLink]="'/users/view/'+item.ownerId">
                          <span class="link-span text-truncate">{{item.owner.username}}</span>
                        </td>
                        <td [routerLink]="'/shores/view/'+item.shoreId">
                          <span class="link-span text-truncate">{{item.shore.name_en}}/{{item.shore.name_ar}}</span>
                        </td>
                        <td>
                          <span class=" text-truncate">{{item.weight}}</span>
                        </td>
                        <td>
                          <span class=" text-truncate">{{item.createdAt | date:'dd-MM-yyyy HH:mm'}}</span>
                        </td>
                        <td>
                          <span class=" text-truncate">{{item.repliesUserCount}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="section pb-48">

                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="m-0 mr-16">video_library</mat-icon>
                  <div *ngIf="item.bottleType == 'video'" class="h2 secondary-text">Bottle Video</div>
                  <div *ngIf="item.bottleType == 'audio'" class="h2 secondary-text">Bottle Audio</div>
                </div>
                <video *ngIf="item.bottleType == 'video'" width="320" height="240" controls>
                  <source [src]="item.file" type="video/mp4"> Your browser does not support the video tag.
                </video>
                <audio *ngIf="item.bottleType == 'audio'" controls>
                  <source [src]="item.file">
                  Your browser does not support the audio tag.
                </audio>
                <div class="compleatedUserDiv">
                  <mat-tab-group dynamicHeight>
                    <mat-tab label="asdadddd">
                      <ng-template matTabLabel>
                        <span>User Compleated</span><span class="customBadge">{{item.userComplete.length}}</span>
                      </ng-template>
                      <div class="usersDiv">
                        <div class="item" *ngFor="let oneUser of item.userComplete"
                          [routerLink]="'/users/view/' + oneUser.userId">
                          <!-- <div *ngIf="oneUser.user"> -->
                          <div class="col">{{oneUser.user != null ?oneUser.user.username : "unknown"}}</div>
                          <div class="col">{{ oneUser.createdAt | date:'dd-MM-yyyy HH:mm' }}</div>
                          <!-- </div> -->
                        </div>
                      </div>
                    </mat-tab>

                    <mat-tab label="asdad">
                      <ng-template matTabLabel>
                        <span>User Seen</span><span class="customBadge"
                          style="background-color: green">{{item.userSeen.length}}</span>
                      </ng-template>

                      <div class="usersDiv">
                        <div class="item" *ngFor="let oneUser of item.userSeen"
                          [routerLink]="'/users/view/' + oneUser.userId">
                          <div *ngIf="oneUser.users">

                            <div class="col">{{oneUser.users.username}}</div>
                            <div class="col">{{ oneUser.createdAt | date:'dd-MM-yyyy HH:mm' }}</div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>

                    <mat-tab label="User Compleated">
                      <ng-template matTabLabel>
                        <span>User Replaies</span><span class="customBadge"
                          style="background-color: red">{{item.userReplaies.length}}</span>
                      </ng-template>

                      <div class="usersDiv">
                        <div class="item" *ngFor="let oneUser of item.userReplaies"
                          [routerLink]="'/users/view/' + oneUser.userId">
                          <div class="col">{{oneUser.user.username}}</div>
                          <div class="col">{{ oneUser.createdAt | date:'dd-MM-yyyy HH:mm' }}</div>
                        </div>
                      </div>
                    </mat-tab>

                  </mat-tab-group>
                  <!-- <h3 class="title">User Compleated</h3> -->

                </div>

              </div>

            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
